@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* everything */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* root */
:root {
  --color-primary: #c03ee1;
  --color-light: #12d4ee;
  --color-dark: #050b07;
  --color-grey-light: #d09c9c;
  --transition: all 0.3s ease;
  --border-radius: 4px;
  --maxWidth: 700px;
  --formMaxWidth: 500px;
  --font-family: ' Roboto ', sans-serif;
}

/* base */
body {
  font-family: var(--font-family);
  line-height: 1.5;
  background-color: var(--color-light);
  color: var(--color-dark);
  font-size: 16px;
  background:url("https://static3.depositphotos.com/1004973/190/i/450/depositphotos_1907341-stock-photo-grunge-old-paper.jpg");
background-clip: var(--color-light);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* index */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  gap: 1rem;
  font-size: 25px; 
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  /* background:url("https://thumbs.dreamstime.com/z/vintage-india-map-paper-old-pen-96884172.jpg"); */
}

.header a {
    color: var(--color-primary);
    text-decoration: underline;
}
.show{
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
}
.show form{
    margin-top: 1rem;
}
/* form */
.form-control {
  margin: 1.2rem 0;
}

label {
  display: block;
  font-weight: 700;
  margin-bottom: 0.25rem;
}

input,
textarea {
  display: block;
  padding: 1rem;
  width:70%;
}

.broken {
  display: flex;
}

input[type='checkbox'] {
  padding: 0;
  width: 10%;
}

/* utilities */
.wrapper {
    background-color: #d09c9c;
  max-width: var(--MaxWidth);
  margin: 1.5rem auto 0;
  padding: 2rem;
  box-shadow: #c03ee1;
  border-radius: 20px;
  max-width:500px ;
}
.wrapper1 {
    max-width: var(--MaxWidth);
    margin: .5rem auto 0;
    padding: 1rem;
}
.delete {
    color:red;
    background: transparent;
    border: none;
    font-size: 1rem;
    margin-left: 1rem;
    cursor: pointer;
}
.btn {
  display: block;
  margin-left: 30%;
  width: 40%;
  padding: 1rem;
  background: var(--color-primary);
  color: var(--color-light);
  border: 1px solid transparent;
  cursor: pointer;
  font-family: var(font-family);
  font-size: 1.1rem;
  border-radius: var(--border-radius);
  transition: var(--transition);
}

.btn:hover {
  background-color: transparent;
  border: 1px solid var(--color-primary);
  color: var(--color-dark);
}

.bold {
  font-weight: 700;
}

.items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: .5rem;
  margin: 1rem 0;
}

.item {
  border: 1px solid var(--color-grey-light);
  padding: 1rem;
  margin: 1rem 0;
  border-radius: var(--border-radius);
}
 a.item {
    color : var(--color-dark);
}
.img{
    width: 200px;
    height: 200px;
}