@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* everything */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* root */
:root {
  --color-primary: #c03ee1;
  --color-light: #12d4ee;
  --color-dark: #050b07;
  --color-grey-light: #d09c9c;
  --transition: all 0.3s ease;
  --border-radius: 4px;
  --maxWidth: 700px;
  --formMaxWidth: 500px;
  --font-family: ' Roboto ', sans-serif;
}

/* base */
body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.3;
  color: rgb(240, 176, 16);
  font-size: 16px;
  /* background:url("https://static3.depositphotos.com/1004973/190/i/450/depositphotos_1907341-stock-photo-grunge-old-paper.jpg"); */
  background-color: #cc1010;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
h1{
 text-align: center;
 font-size: 40px;
}
/* index */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:5px;
  height: 120px;
  font-size: 80px; 
  color: rgb(117, 7, 7);
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  background-color: rgb(238, 204, 12);
  /* background:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPWtfgPbSveBJ2-g_Nkznsm3kGiV_WUS1EHQ&usqp=CAU"); */
}

.header a {
    
    color:rgb(131, 54, 24) ;
    text-decoration: underline;
    font-size: 25px;
   
}
.show{
    max-width: 900px;
    margin: 0 auto;
    padding: 1rem;
}
.show form{
    margin-top: 1rem;
}
/* form */
.form-control {
  margin: 1.2rem 0;
}

label {
  display: block;
  font-weight: 700;
  margin-bottom: 0.25rem;
}

input,
textarea {
  display: block;
  padding: 1rem;
  width:70%;
}

.broken {
  display: flex;
}

input[type='checkbox'] {
  padding: 0;
  width: 10%;
}

/* utilities */
.wrapper {
    background-color: #d4c23c;
  max-width: var(--MaxWidth);
  margin: 1rem auto 0;
  padding: 1rem;
  box-shadow: hsl(120, 73%, 56%);
  border-radius: 20px;
  /* max-width:500px ; */
}
.wrapper1 {
    max-width: var(--MaxWidth);
    /* margin: .5rem auto 0; */
    /* padding: 1rem; */
}

.delete ,.edit,.purchase,.goback{
  
    color:darkgoldenrod;
   width: 80px;
    padding: .2rem;
    font-size: 1rem;
    margin-left: 1rem;
    cursor: pointer;
    border-radius: 10px;
}
.lineup{
  display:flex;
  justify-content:space-between;
  align-items: flex-start;
  padding: 1rem;
}
.btn {
  display: block;
  margin-left: 30%;
  width: 50%;
  padding: 1rem;
  background: var(--color-primary);
  color: var(--color-light);
  border: 1px solid transparent;
  cursor: pointer;
  font-family: var(font-family);
  font-size: 1.1rem;
  border-radius: var(--border-radius);
  transition: var(--transition);
}

.btn:hover {
  background-color: transparent;
  border: 1px solid var(--color-primary);
  color: var(--color-dark);
}

.bold {
  font-weight: 400;
  font-size: 20px;
  color: #e1deb2;
}

.items {
  display: grid;
 
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: .2rem;
  margin: .2rem 0;
}

.item {
  /* border: 1px solid var(--color-grey-light); */
  padding: 1rem;
  margin: 1rem 0;
  border-radius: var(--border-radius);
}
 a.item {
    color : var(--color-dark);
}
.img{
    width: 80%;
    height: auto;
}
.imgShow{
  width: 50%;
  float: right;
  height: 400px;
}
.img1{
  width: 210px;
  height: 120px;
}