@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* everything */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* root */
:root {
  --color-primary: #c03ee1;
  --color-light: #12d4ee;
  --color-dark: #050b07;
  --color-grey-light: #d09c9c;
  --transition: all 0.3s ease;
  --border-radius: 4px;
  --maxWidth: 700px;
  --formMaxWidth: 500px;
  --font-family: ' Roboto ', sans-serif;
}

/* base */
body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.3;
  color: rgb(240, 176, 16);
  font-size: 16px;
  /* background:url("https://static3.depositphotos.com/1004973/190/i/450/depositphotos_1907341-stock-photo-grunge-old-paper.jpg"); */
  background-color: #cc1010;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
h1{ display: flex;
  justify-content: flex-start;
align-items: center;
 font-size: 30px;
 padding-left: 200px;
}
/* index */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:5px;
  height: 120px;
  font-size: 80px; 
  color: rgb(117, 7, 7);
  font-family: 'Abril Fatface', serif;
  background-color: rgb(238, 204, 12);
  /* background:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPWtfgPbSveBJ2-g_Nkznsm3kGiV_WUS1EHQ&usqp=CAU"); */
}

.header a {
  display: flex;
  justify-content: center;
    color:rgb(131, 54, 24) ;
    text-decoration: none;
    font-size: 20px;
    width:120px;
    
   
}
.show{
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
}
.show form{
    margin-top: 2rem;
}


label {
  display: block;
  font-weight: 400;
  margin-bottom: 0.25rem;
  font-size: 20px;
}

input,
textarea {
  display: block;
  padding: .5rem;
  width:80%;

}

.broken {
  display: flex;
  justify-content: center;
  align-items: center;
}



/* utilities */
.wrapper {
    /* background-color: #d4c23c; */
    display:block;
    max-width: var(--MaxWidth);
  margin: .5rem ;
  margin-left: 150px;
  padding: 1rem;
  border-radius: 40px;
  padding-top: 5px;
  height:200px;
  /* max-width:500px ; */
}
/* form */
.form-control {
  display: block;
  margin: .7rem 0;
  align-items: center;
  line-height: 1rem;
  
}
.wrapper1 {
    max-width: var(--MaxWidth);
    
    /* margin: .5rem auto 0; */
    /* padding: 1rem; */
}

.delete ,.edit,.purchase,.goback
{display: block;
  background: rgb(28, 201, 227);
    color:rgb(184, 11, 11);
   width: 120px;
   height: 50px;
    padding: .2rem;
    padding-bottom: 10px;
    font-size: 1.5rem;
    margin-left: 1rem;
    cursor: pointer;
    border-radius: 20px;
}
.btn1{
  display:block;
  text-align: center;
  color:rgb(184, 11, 11);
  min-width:90px;
  height: 50px;
  padding-top: .4rem;
   font-size: 1.5rem;
   margin-top: 2rem;
   cursor: pointer;
  border:#050b07 solid 1px;
   border-radius: 20px;

   background: rgb(28, 201, 227);
}

.btn1:last-child{
margin-left: 20px;
/* margin-top: 20px; */
}
.btn1:hover {
  background-color: transparent;
  border: 1px solid var(--color-primary);
  color: var(--color-dark);
}
.delete:hover{
  background-color: transparent;
  border: 1px solid var(--color-primary);
  color: var(--color-dark);
}
.purchase:hover{
  background-color: transparent;
  border: 1px solid var(--color-primary);
  color: var(--color-dark);
}
.lineup{
  display:flex;
  justify-content:flex-end;
  align-items: center;
  padding: 2rem;
  
}
.btn {
  display: block;
  margin-left: 30%;
  width: 20%;
  padding: .3rem;
  background: rgb(235, 217, 18);
  color: blue;
  border: 1px solid black;
  cursor: pointer;
  font-family: var(font-family);
  font-size: 1.5rem;
  border-radius: 20px;
  transition: var(--transition);
}

.btn:hover {
  background-color: transparent;
  border: 1px solid var(--color-primary);
  color: var(--color-dark);
}

.bold {
  font-weight: 400;
  font-size: 20px;
  color: #0fd88b;
}

.items {
  display: grid;
 
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: .2rem;
  margin: .2rem 0;
}

.item {
  /* border: 1px solid var(--color-grey-light); */
  padding: 1rem;
  margin: 1rem 0;
  border-radius: var(--border-radius);
}
 a.item {
    color:hsl(53, 56%, 44%) ;
}
.img{
    width: 80%;
    height: auto;
}
.imgShow{
  width: 50%;
  float: right;
  height: 400px;
}
.img1{
  width: 210px;
  height: 120px;
}

.btn1 a {
 color :rgb(184, 11, 11);

}